/* CSS for meme page */

* {
	/*the asterisk before this section's curly brackets makes it for the whole page*/
	font-family: Comic Sans MS;
	/* color: green; */ /*we can set any color here using the name or hex code*/
}

body {
	/*things*/
}

h1 {
	text-align: center;
	font-weight: bold;
}

h2 {
	text-align: center;
}
